#liBotonPedido {
    display: flex;
    justify-content: flex-end;
}

#botonPedido{
    border: 0;
    background: red;
    color: white;
    border-radius: 5px;

}

header {
    background: #089318;
}

#isologo {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    width: 250px;
    height: 174px;
}

body {
    margin: 0px;
    overflow-x: hidden;
}

#ulNav {
    margin: 0px;
}

.fullCover {
    justify-content: stretch;
}

.roboto-l300 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
}

footer {
    background: #101010;
}