/* Los comentarios que pongo, son para mí y para que a la persona que califique, se le haga más fácil entender el porqué de algunas cosas que hago */
/* Probablemente ya saben que hace cada cosa, pero supongo que puede ser útil*/

/* Estaba probando el background color en el header (para la linea de abajo) y me di cuenta que al estar en blanco, no veía que estaba el margen, por eso lo puse */

body {
    margin: 0px;
    background-color: #F9FAFB;
}

/* Header (terminado, por ahora) */

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;

    background-color: #F9FAFB; /* Modificación */
    border-bottom: 1px solid #111111 ; /* Modificación */
}

.logo {
    display: block;
    width: 200px;
    height: auto;
}

header nav {
    position: absolute;
    right: 20px; /* Lo tira 20px hacia la izquierda */
}

.ul_nav {
    display: flex;
    align-items: center;
    gap: 36px;
}

.roboto-li {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #111111;
}

/* Main */

/* Slider */

/* Ok, aprendí que lo que yo quiero es un slider full-bleed*/

.slider-wrapper {
    position: relative;
    width: 100vw; /* El vw es viewport width y el 100 es para que ocupe toda la pantalla */
    max-width: none; /* Lo que estaba acá antes era el problema principal */
    margin: 0;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 6.5; /* No me gustaba en 16:9 y no me decido entre 16:6 y 16:7*/
    overflow-x: auto;
    scroll-snap-type: x mandatory; /* Esto crea el efecto slider */
    scroll-behavior: smooth; 
}

.slider img {
    flex: 1 0 100%; /* El 1 hace que todas las imagenes tengan el mismo tamaño, el 0 va a hacer que cada imagen use el ancho que necesite, el 100% es el tamaño inicial*/
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%; /* Entre el left y el transform, lo centran */
    transform: translateX(-50%); /* En un momento intenté usar transform, pero me mareé y traté de evitarlo, pero ahora que ya lo usé acá, capaz lo uso después */
    z-index: 1; /* Por lo que entendí, esto es poner a esta etiqueta, por encima de otras. Parecido a lo que vimos en la clase que había un video que nos explicaba eso del 3D */
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
    scrollbar-width: none; /* Me estaba molestando la scrollbar de antes, por eso busqué cómo sacarla. Esto la saca para algunos navegadores (en realidad creo que solo Firefox) */
}

/* Según WebKit "WebKit is the web browser engine used by Safari, Mail, App Store, and many other apps on macOS, iOS, and Linux.". Por lo que ví, tiene estas cosas (como ::-webkit-scrollbar) que por decirlo de alguna forma son propiedades que todos los navegadores que usan WebKit aceptan (agarrar esta explicación con pinzas) */

.slider::-webkit-scrollbar { 
    display: none; /* Y esto es un pedazo de código que agarré que lo saca de otros navegadores */
}

.slider-nav a:hover { /* Configuración (por así decirlo) para cuándo alguien pase el mouse por encima */
    opacity: 1; /* Entonces pasa del 0.75 de antes, a 1 (100% de opacidad) */
}

