/*playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

.logo {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}